//Typography
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700')
$font-stack: 'Open Sans', sans-serif
$font-regular: 400
$font-bold: 700

//Colors
$black: #000000
$white: #FFFFFF
$off-white: #FAFAFF
$cool-white: #EDEDFA

$cool-black: #1D1E3B
$cool-black-plus-one: #2C2C47
$cool-black-plus-two: #363652

$denotive-fail: #FF2E2E
$denotive-warning: #F0B900
$denotive-success: #2ED3B0

$primary: #0F32C9
$primary-plus-one: #363EFB
$primary-minus-one: #1E22AA



\:root
  --black: #{$black}
  --white: #{$white}
  --off-white: #{$off-white}
  --cool-white: #{$cool-white}

  --cool-black: #{$cool-black}
  --cool-black-plus-one: #{$cool-black-plus-one}
  --cool-black-plus-two: #{$cool-black-plus-two}

  --denotive-fail: #{$denotive-fail}
  --denotive-warning: #{$denotive-warning}
  --denotive-success: #{$denotive-success}

  --primary: #{$primary}
  --primary-plus-one: #{$primary-plus-one}
  --primary-minus-one: #{$primary-minus-one}

*
  transition: padding 0.2s ease-out, margin 0.2s ease-out

html
  background-color: var(--white)
  font-family: $font-stack
  font-size: 100%
  color: var(--cool-black)
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

h1
  font-size: 3.125rem
  font-weight: 700
  letter-spacing: -0.05
  color: var(--cool-black)
  line-height: 3.75rem

h2
  font-size: 1.875rem
  font-weight: 500
  letter-spacing: -0.03
  margin: .5rem 0
  color: var(--cool-black)
  line-height: 2.25rem

h3
  font-size: 1.5rem
  font-weight: $font-bold
  letter-spacing: -0.03
  margin: .5rem 0
  color: var(--cool-black)
  line-height: 1.5em

h4
  font-size: 1.375rem
  font-weight: 700
  line-height: 1.8rem

h5
  font-size: 1.0625rem
  font-weight: 500
  margin: .5rem 0
  color: var(--cool-black)
  line-height: 1.59375rem

h6
  font-size: 0.875rem
  font-weight: 500
  margin: .5rem 0
  color: var(--cool-black)
  line-height: 1.5em
  font-weight: $font-bold

p
  font-size: 1.125rem
  font-weight: 500
  line-height: 1.875rem

small
  font-size: 0.75rem
  font-weight: 500
  line-height: 1.05rem

a
  cursor: pointer
  color: var(--cool-black)
  font-weight: $font-bold

b
  font-weight: 700

b.highlight
  color: var(--primary-plus-one)

hr
  border: none
  background: var(--cool-black)
  height: 1px
  box-sizing: border-box
  margin: 18px auto
  opacity: .2

.section
  max-width: 944px
  margin: auto

header
  width: 100%
  height: 100%
  padding: 128px 16px 16px 16px
  margin: auto
  box-sizing: border-box
  user-select: none
  text-align: center
