---
layout: default
---
<div class="hero">
  <div class="heroText">
    <h1>Hey there.</h1>
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.9"></script>
    <div id="typed-strings">
      {% for item in site.skills %}
      <p>{{ item }}</p>
      {% endfor %}
    </div>
    <h2>I’m <b class="highlight">Zachary</b>. I am a <br><span class="typed" id="typed"></span></h2>
    
  </div>
  <div class="heroVideo">
    <img src="{{ site.baseurl }}/assets/img/hero.jpg" alt="Video Thumbnail">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 149 149" class="play">
      <defs>
        <style>
          .cls-1 {
            fill: #fff;
          }
          .cls-2 {
            filter: url(#Subtraction_1);
          }
        </style>
        <filter id="Subtraction_1" x="0" y="0" width="149" height="149" filterUnits="userSpaceOnUse">
          <feOffset dy="8" input="SourceAlpha"/>
          <feGaussianBlur stdDeviation="4" result="blur"/>
          <feFlood flood-opacity="0.161"/>
          <feComposite operator="in" in2="blur"/>
          <feComposite in="SourceGraphic"/>
        </filter>
      </defs>
      <g class="cls-2" transform="matrix(1, 0, 0, 1, 0, 0)">
        <path id="Subtraction_1-2" data-name="Subtraction 1" class="cls-1" d="M62.5,125a62.961,62.961,0,0,1-12.6-1.27,62.158,62.158,0,0,1-22.348-9.4,62.683,62.683,0,0,1-22.644-27.5A62.185,62.185,0,0,1,1.27,75.1a63.109,63.109,0,0,1,0-25.192,62.157,62.157,0,0,1,9.4-22.348,62.683,62.683,0,0,1,27.5-22.644A62.186,62.186,0,0,1,49.9,1.27a63.109,63.109,0,0,1,25.192,0,62.157,62.157,0,0,1,22.348,9.4,62.682,62.682,0,0,1,22.644,27.5A62.185,62.185,0,0,1,123.73,49.9a63.11,63.11,0,0,1,0,25.192,62.158,62.158,0,0,1-9.4,22.348,62.682,62.682,0,0,1-27.5,22.644A62.185,62.185,0,0,1,75.1,123.73,62.961,62.961,0,0,1,62.5,125ZM52.084,44.271V80.73L80.73,62.5Z" transform="translate(12 4)"/>
      </g>
    </svg>
  </div>
  <div class="timelineSection">
    <h5>Here are some products/projects I’ve worked on:</h5>
      <div class="timelineWrapper">
        {% for project in site.projects reversed %}{% if project.link %}
        <a href="{{ project.link }}" target="_blank" class="timelineContainer">{% else %}
        <a class="timelineContainer">{% endif %}
          <div class="timelineDotWrapper"><div class="timelineDot"></div></div>
          <h4>{{ project.title }}</h4>
          <small>{{ project.released }}</small>
          <p>{{ project.description }}</p>
        </a>
        {% endfor %}
      </div>
  </div>
</div>
