<meta charset="utf-8" />
<meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, viewport-fit=cover" />
<title>{{ site.title }}</title>
<meta name="description" content="{{ site.description }}" />
<meta name="keywords" content="{% for item in site.keywords %}{{ item }}, {% endfor %}YouTuber" />
<link rel="canonical" href="{{ site.url }}{{ site.baseurl }}{{ page.url }}" />
<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}assets/css/styles.css" />
<!--Favicons-->
<link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}apple-touch-icon.png" />
<link rel="icon" type="image/png" sizes="32x32" href="{{ site.baseurl }}favicon-32x32.png" />
<link rel="icon" type="image/png" sizes="16x16" href="{{ site.baseurl }}favicon-16x16.png" />
<link rel="manifest" href="{{ site.baseurl }}site.webmanifest" />
<link rel="mask-icon" href="{{ site.baseurl }}safari-pinned-tab.svg" color="#1538c1" />
<meta name="msapplication-TileColor" content="#ffffff" />
<meta name="theme-color" content="#ffffff" />
<!--OpenGraph-->
<meta property="og:title" content="{{ site.title }}" />
<meta property="og:description" content="{{ site.description }}" />
<meta property="og:locale" content="en_US" />
<meta property="og:image" content="{{ site.baseurl }}assets/img/hero.jpg" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ site.url }}" />
<meta proptery="og:site_name" content="{{ site.title }}" />
<!--Twitter-->
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@{{ site.twitterHandle }}" />
<meta name="twitter:creator" content="@{{ site.twitterHandle }}" />
<!--Application ID-->
<script type="application/ld+json">
	{
		"@context": "http://schema.org",
		"@id": "{{ site.url }}",
		"@type": "Organization",
		"name": "{{ site.title }}",
		"url": "{{ site.url }}",
		"logo": "{{ site.url }}{{ site.baseurl }}logo.png",
		"contactPoint": [
			{
				"@type": "ContactPoint",
				"telephone": "{{ site.phone }}",
				"contactType": "Inquiry",
				"areaServed": "US",
				"availableLanguage": ["EN"]
			}
		],
		"sameAs": [
			"https://zacharyrnewton.com/",
			"https://www.youtube.com/zacharyrnewton/",
			"https://www.instagram.com/zacharyrnewton/",
			"https://www.twitter.com/{{ site.twitterHandle }}",
			"https://www.linkedin.com/in/zacharyrnewton/"
		]
	}
</script>
